`relativeRef` should prefer UTF-8 for percent encoding

DID Parameters
https://www.w3.org/TR/did-resolution/#did-parameters

> A relative [URI](https://www.w3.org/TR/did-resolution/#dfn-uri) reference according to [RFC3986 Section 4.2](https://www.rfc-editor.org/rfc/rfc3986#section-4.2) that identifies a [resource](https://www.w3.org/TR/did-resolution/#dfn-resources) at a [service endpoint](https://www.w3.org/TR/did-resolution/#dfn-service-endpoints), which is selected from a [DID document](https://www.w3.org/TR/did-resolution/#dfn-did-documents) by using the service parameter. If present, the associated value MUST be an [ASCII string](https://infra.spec.whatwg.org/#ascii-string) and MUST use percent-encoding for certain characters as specified in [RFC3986 Section 2.1](https://www.rfc-editor.org/rfc/rfc3986#section-2.1).

The above requirement doesn't specify a specific character encoding to be used when percent-encoding URI-disallowed characters. Specifying that UTF-8 must be used would help interoperability. If the goal is to allow **_any_** octets to be transmitted, this should be made clear. 

Note that the text does not say what the "certain characters" are. 3986 2.1 only specifies the percent-encoding mechanism, not what the characters are. A casual reader might assume that only **ASCII** characters are permitted, with the percent encoding reserved for problem characters like `=` that are also ASCII.

> [!NOTE]
> An example later in the spec shows a relative reference that includes text that non-English users might reasonably
> expect to include non-ASCII data.
> https://www.w3.org/TR/did-resolution/#example-5
> > did:example:1234?service=files&relativeRef=%2Fmyresume%2Fdoc%3Fversion%3Dlatest
> ... where `myresume`, `doc`, `version`, and `latest` path elements might very reasonably use localized representations



This was discussed during the [#did meeting on 25 September 2025](https://www.w3.org/2025/09/25-did-minutes.html#10000).

<details><summary><i>View the transcript</i></summary>

<h4>relativeRef should prefer UTF-8 for percent encoding <a href="https://github.com/w3c/did-resolution/issues/201" rel="noopener noreferrer">#201</a></h4>
<p><cite>ottomorac:</cite> next one is our dear friend Relative Ref</p>
<p><cite>&lt;ottomorac&gt;</cite> <a href="https://github.com/w3c/did-resolution/issues/201" rel="noopener noreferrer">w3c/<wbr>did-resolution#201</a></p>
<p><cite>ottomorac:</cite> I don't know whether this is a discussion for next week (Weds)<br>
<span>… what do you think Will?</span></p>
<p><cite>Wip:</cite> reading...</p>
<p><cite>manu:</cite> Addison us usually right about this stuff. I think it's separate, unless we get rid of relativeRef, which I don't think we're likely to<br>
<span>… so, he's right that we should prefer UTF8 for percent encoding</span></p>
<p><cite>Wip:</cite> the change we need to make is - somebody needs to make a PR stating that we prefer UTF8, yeah?</p>
<p><cite>ottomorac:</cite> I can take that on, if it's just the clarification</p>
<p><cite>manu:</cite> just to be clear, this is a MUST. if we want to help interop<br>
<span>… you MUST encode disallowed URL chars using UTF8</span></p>
<p><cite>ottomorac:</cite> ok, so just make it a must statement</p>
<p><cite>JoeAndrieu:</cite> we should make it clear that this is for ALL URL params, not just relativeRef</p>
<p><cite>ottomorac:</cite> ok</p>
<p><cite>&lt;manu&gt;</cite> +1 to what Joe said</p>

<hr /></details>