DID parameters require ASCII-only

DID Parameters
https://www.w3.org/TR/did-resolution/#did-parameters

Various parameter's (`service`, `serviceType`, `versionId`, etc.) require that the value be an ASCII string. One parameter (`relativeRef`) also requires ASCII, but references RFC3986 section 2.1 (percent encoding). It is not clear why the values are restricted to ASCII. If the reason is so that they can traverse e.g. HTTP headers, then escaping should be supplied for non-ASCII values when such values are needed by the application. If there is some other reason, it is not apparent from the specification.

Some of the parameters, such as `versionTime` have a well-known, required serialization that is, in fact, ASCII only.

`service` seems to disadvantage systems that would otherwise permit non-ASCII service names.

`versionId` (and friends like `nextVersionId`) does not have a defined format. It's unclear why the ASCII restriction is imposed, except for (probably) the way that it simplifies the serialization story. Note that versioning is spelled out here:

* https://www.w3.org/TR/did-resolution/#versioning

Thanks @aphillips I have created a PR using the language you have suggested.

Also for @msporny , I believe that once this PR is agreed to and merged, we should probably apply these same changes in the smaller set of DID parameters that are mentioned in DID Core here: https://www.w3.org/TR/did-1.0/#did-parameters  Perhaps we should create a mirror issue for this in DID Core?