Change references to RFC3986 to the WHATWG URL Spec

Find all references to RFC3986 (https://www.rfc-editor.org/rfc/rfc3986) in the spec and change them to the equivalent spot in the https://url.spec.whatwg.org/ spec.

References in the spec to RFC3986.  Next step will be to find the equivalent references in the WHATWG URL Spec.

- Definition of a resource -- not in WhatWG URL standard. Instead, perhaps use definition in [WebArch link](https://www.w3.org/TR/webarch/#def-resource)
- Definition of a URI -- not in WhatWG Standard - per the [goals of WhatWG URL Spec](https://url.spec.whatwg.org/#goals
)
  - Does [define "URL" in WhatWG URL Standard](https://url.spec.whatwg.org/#concept-url)
  - Approach in the VC Data Model change was all instances of URI --> URL, so we should probably do that as well.
- RFC3986 Section 4.2 -- Relative Reference - [WhatWG URL link](https://url.spec.whatwg.org/#relative-url-string)
- Definition of URL Dereferencing -- not in WhatWG URL standard. Instead, perhaps use definition in [WebArch link](https://www.w3.org/TR/webarch/#dereference-uri)
- RFC3986 Section 5 -- Reference Resolution - [WhatWG URL link](https://url.spec.whatwg.org/#dom-url-url)
- Definition of a fragment -- [WhatWG URL link](https://url.spec.whatwg.org/#concept-url-fragment)
- RFC3986 Section 2.1 -- URL Percent Encoding - [WhatWG URL link](https://url.spec.whatwg.org/#percent-encoded-bytes)
- The Normative Reference to RFC3986 -- replace with WhatWG URL Standard -- https://url.spec.whatwg.org/
- RFC3986 Section 3.3 -- URL Path -- [WhatWG URL Link](https://url.spec.whatwg.org/#concept-url-path)


I've updated the list of RFC3986 references in the [comment above](https://github.com/w3c/did-resolution/issues/275#issuecomment-3813733144) with corresponding places in the [WhatWG URL](https://url.spec.whatwg.org/) standard -- where possible.

The PR for the VC Data Model was not particularly useful as all they did was change instances of "URI" to "URL", and from RFC3986 to WhatWG URL -- very simple.  We should do that, but we also reference specific parts of RFC3986, so not as easy.

WhatWG URL does not define are "resource" or "dereferencing a URL" (interesting!). In the above, I've linked to the [Web Architecture](https://www.w3.org/TR/webarch/) for those. Assuming we keep those references, is that the right place to reference?

Would like someone to take a look at the correspondences in that comment to confirm/object to those. Once done I can do the PR -- although we should decide if it is to be done before or after PR #315.